@media (max-width: 375px) {
  body {
    height: 812px !important;
    justify-content: center !important;
  }

  #imagem-Login {
    display: none !important;
  }

  #formulario-acesso {
    width: 87.434% !important;
  }

  #formulario-acesso form {
    width: 100% !important;
    min-width: 0 !important;
  }

  #formulario-acesso h5 {
    font-size: 16px !important;
  }

  #formulario-acesso h1 {
    font-size: 24px !important;
  }
}
