@media (max-width: 375px) {
  body {
    height: 812px !important;
  }

  #imagem-Login {
    display: none !important;
  }

  #formulario-acesso {
    width: 100% !important;
    padding: 0 5%;
  }

  #formulario-acesso h5 {
    font-size: 16px !important;
  }

  #formulario-acesso h1 {
    font-size: 24px !important;
  }
}
