@media (max-width: 375px) {
  body {
    height: auto !important;
    justify-content: center !important;
    min-height: 100vh;
  }

  #imagem-Login {
    display: none !important;
  }

  #formulario-acesso {
    width: 87.434% !important;
  }

  #formulario-acesso form {
    width: 100% !important;
    min-width: 0 !important;
  }

  #formulario label,
  .secao-lembrar p,
  .esqueci-a-senha {
    font-size: 14px !important;
  }

  #formulario-acesso h5,
  #btn-conta,
  #btn-google,
  #formulario-acesso h6 {
    font-size: 16px !important;
  }

  #formulario-acesso h1 {
    font-size: 24px !important;
  }
}
