@import url(fonts.css);
@import url(color.css);
@import url(style-768.css);
@import url(style-375.css);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;

  width: 100vw;
  height: 1024px;
}

#imagem-Login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  width: 49.897%;
  height: 100%;

  background-color: #f3fff2;
}

#imagem-Login img {
  width: inherit;
}

#formulario-acesso {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50.103%;
}

#formulario-acesso form {
  display: flex;
  flex-direction: column;

  width: 41.583%;
}

#formulario-acesso h5 {
  font-family: Archivo;
  font-weight: 500;
  font-size: 20px;
  list-style: 21.76px;

  color: var(--dark-10);
}

#formulario-acesso h1 {
  font-family: Archivo;
  font-weight: 600;
  font-size: 32px;
  list-style: 34.82px;

  color: var(--dark-10);
}

#formulario-acesso label {
  font-family: Archivo;
  font-weight: 400;
  font-size: 18px;
  list-style: 19.58px;

  margin-bottom: 12px;

  color: var(--dark-10);
}

#email,
#password {
  padding: 16px;

  /* width: 100%; */

  border-radius: 4px;
  border: 1px solid var(--dark-30);
  background-color: var(--dark-40);

  font-family: Archivo;
  font-weight: 400;
  font-size: 16px;
  list-style: 17.41px;
  color: var(--dark-20);
}

#email {
  margin-bottom: 32px;
}

#password {
  margin-bottom: 24px;
}

#formulario-acesso section {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.secao-lembrar {
  display: flex;
  align-items: center;
}

#lembrar {
  border: 1px solid var(--dark-40);
}

.secao-lembrar p {
  margin-left: 12px;

  font-family: Archivo;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.41px;
}

.esqueci-a-senha {
  color: var(--brand-color);

  font-family: Archivo;
  font-size: 16px;
  line-height: 17.41px;
  font-weight: 500;
}

#btn-conta,
#btn-google {
  padding: 16px 0;

  border: none;
  border-radius: 4px;

  font-family: Archivo;
  font-size: 18px;
  font-weight: 600;
  line-height: 19.58px;
  text-align: center;
  color: var(--dark-50);
}

#btn-conta {
  margin: 56px 0 24px;

  background-color: var(--brand-color);
}

#btn-google {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 64px;

  gap: 12px;

  background-color: var(--dark-10);
}

.text-sem-coonta {
  text-align: center;

  font-family: Archivo;
  font-size: 20px;
  font-weight: 500;
  line-height: 21.76px;

  color: var(--dark-10);
}

.text-sem-coonta span {
  color: var(--brand-color);
}

input[type="email"]:valid {
  border-color: var(--brand-color);
}

input[type="email"]:invalid {
  border-color: red;
}
