@import url(fonts.css);
@import url(color.css);
@import url(style-768.css);
@import url(style-375.css);

@media (min-width: 769px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100vw;
    height: 1024px;
  }

  #imagem-Login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    width: 49.897%;
    height: 100%;

    background-color: #f3fff2;
  }

  #imagem-Login img {
    width: inherit;
  }
}
