@media (max-width: 768px) {
  body {
    height: auto !important;
    justify-content: center !important;
    min-height: 100vh;
  }

  #imagem-Login {
    display: none !important;
  }

  #formulario-acesso {
    width: 100% !important;
  }
}
